@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Nanum+Gothic:400,700,800|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  font-family: "Nanum Gothic", "Roboto", sans-serif, "Lora", serif;
}
.main-swiper{
  width: 100%;
  height: 100vh;
}
.main-pagi{
  position: fixed;
  width: 20px;
  height: auto;
  right: 5% !important;
  text-align: center !important;

}
.main-pagi .swiper-pagination-bullet{
  color: #f0e8d9;
  background: #f0e8d9;
  position: relative;
  opacity: 1;
  outline: none;
  left: 0;
  right: 0;
  margin: 10px auto !important;
}
.main-pagi .swiper-pagination-bullet-active{
  color: #f0e8d9;
  width: 20px;
  background: none;
  height: auto;
  outline: none;
  font-weight: 500;
}
/* main section1 */
.section1 img{
  position: absolute;
}
.main_tit{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.scroll{
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 0 auto;
}

/* main section2 */
.section2 .tit{
  top: 15%;
  left: 18%;
  position: absolute;
}
.swiper1{
  width: 52%;
  margin-left: 27%;
  margin-top: 15%;
  position: relative;
}
.swiper1 .swiper-slide{
  position: relative;
  width: 33%;
  height: 20%;
  margin-top: 10%;
}
.swiper1 .swiper-slide img{
  width: 90%;
  filter: grayscale(1);
}
.swiper1 .swiper-slide-active img{
  filter: grayscale(0);
  margin-top: -18%;
}
.swiper1-nav{
  color: #fff;
  left: 3%;
  top: 8%;
  width: 30%;
  padding: 0 90px;
  position: relative;
}

.year-bar{
  position: absolute;
  width: 43%;
  top: 82.3%;
  left: 31.5%;
}
.swiper1-nav .swiper-slide{
  text-align: center;
  font-size: 0.9em;
  line-height: 20px;
  width: 243px;
}

.swiper1-nav .swiper-slide-active{
  color: rgb(221, 217, 181);
}
.swiper1-nav span{
  display:block;
  background-color: #fff;
  opacity: 1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 20px auto;
}